.productoTipoRemera{
    display: flex;
    align-items: center;
    width: 320px;
    padding: 20px;
   
}

.productoTipoShorts{
    display: flex;
    align-items: center;
    width: 320px;
    padding: 20px;
}

.productoTipoMedias{
    display: flex;
    align-items: center;
    width: 320px;
    padding: 20px;
}