.productos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 25px;
    @media (max-width:768px) {
        flex-direction: column;
        align-content: center;
    }
}

.itemProducto{
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 2px solid black;
    border-radius: 5%;
}